@import "w3.scss";

.heading {
    text-align: center;
}

.heading a {
    text-decoration: none;
}

.heading a:hover {
    cursor: pointer;
    color: #87CEEB;
}

.error-container {
    font-size: 45px;
    text-align: center;
    margin-top: 15%;
}

.table {

    color: #000;
    margin: auto;
    margin-top: 5%;
    background-color: lightslategrey;
    width: 60%;
    height: 25em;
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    background: #031321;
}

html {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#ul-players {
    max-height: 12em;
    overflow-y: scroll;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #8bc34a;
}

.selected:hover {
    background-color: rgb(182, 240, 168);
    cursor: pointer;
}

.hover-green:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* blue button */
.neon-button {
    display: block;
    width: max-content;
    position: relative;
    padding: 6px 12px;
    color: #87CEEB;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.neon-button:hover {
    color: #031321;
    background: #87CEEB;
    box-shadow: 0 0 10px #87CEEB, 0 0 40px #87CEEB, 0 0 80px #87CEEB;
    transition-delay: 0.6s;
}

.neon-button span {
    position: absolute;
    display: block;
}

.neon-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #87CEEB);
}

.neon-button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.6s;
}

.neon-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #87CEEB);
}

.neon-button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.6s;
    transition-delay: 0.3s;
}

.neon-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #87CEEB);
}

.neon-button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.6s;
    transition-delay: 0.15s;
}

.neon-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #87CEEB);
}

.neon-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.6s;
    transition-delay: 0.45s;
}

/* red button */
.neon-button-red {
    display: block;
    width: max-content;
    position: relative;
    padding: 6px 12px;
    color: #e61919;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.neon-button-red:hover {
    color: #031321;
    background: #e61919;
    box-shadow: 0 0 10px #e61919, 0 0 40px #e61919, 0 0 80px #e61919;
    transition-delay: 0.6s;
}

.neon-button-red span {
    position: absolute;
    display: block;
}

.neon-button-red span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #e61919);
}

.neon-button-red:hover span:nth-child(1) {
    left: 100%;
    transition: 0.6s;
}

.neon-button-red span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #e61919);
}

.neon-button-red:hover span:nth-child(3) {
    right: 100%;
    transition: 0.6s;
    transition-delay: 0.3s;
}

.neon-button-red span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e61919);
}

.neon-button-red:hover span:nth-child(2) {
    top: 100%;
    transition: 0.6s;
    transition-delay: 0.15s;
}

.neon-button-red span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e61919);
}

.neon-button-red:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.6s;
    transition-delay: 0.45s;
}

/* green button */
.neon-button-green {
    display: block;
    width: max-content;
    position: relative;
    padding: 6px 12px;
    color: #8bc34a;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.neon-button-green:hover {
    color: #031321;
    background: #8bc34a;
    box-shadow: 0 0 10px #8bc34a, 0 0 40px #8bc34a, 0 0 80px #8bc34a;
    transition-delay: 0.6s;
}

.neon-button-green span {
    position: absolute;
    display: block;
}

.neon-button-green span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8bc34a);
}

.neon-button-green:hover span:nth-child(1) {
    left: 100%;
    transition: 0.6s;
}

.neon-button-green span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8bc34a);
}

.neon-button-green:hover span:nth-child(3) {
    right: 100%;
    transition: 0.6s;
    transition-delay: 0.3s;
}

.neon-button-green span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8bc34a);
}

.neon-button-green:hover span:nth-child(2) {
    top: 100%;
    transition: 0.6s;
    transition-delay: 0.15s;
}

.neon-button-green span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8bc34a);
}

.neon-button-green:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.6s;
    transition-delay: 0.45s;
}

/* DraftTable */
#draftContainer {
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    position: relative;
}

#center {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #fff;
    color: #031321;
    position: absolute;
    left: 115px;
    top: 115px;
    z-index: 2;
}

.seat {
    width: 50px;
    height: 50px;;
    color: #031321;
    border-radius: 50px;
    position: absolute;
    background: #fff;
}

/* standings table */
.medal {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-color: black;
    border-width: 1px;
}

#standings td, #standings th {
    text-align: center;
    vertical-align: middle;
}

#standings tr:nth-child(2) td:nth-child(1) div{
    background-color: gold;
    color: black;
}

#standings tr:nth-child(3) td:nth-child(1) div{
    background-color: silver;
    color: black;
}

#standings tr:nth-child(4) td:nth-child(1) div{
    background-color: #cd7f32;
    color: black;
}

/* matches */
#matchesContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.matchContainer{
    width: 25%;
    height: 100px;
}

.matchRect{
    height: 50%;
}

.matchSquare{
    width: 50%;
    word-break: break-word;
    height: 100%;
    background-color: red;
    color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.greenMatchSquare{
    background-color: green;
}