<div class="w3-bar w3-dark-gray w3-center">
    <LinkTo @route="tournaments" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Tournaments</LinkTo>
    <LinkTo @route="players" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Players</LinkTo>
    <LinkTo @route="decks" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Decks</LinkTo>
    <LinkTo @route="standings" class="w3-bar-item w3-hover-gray" style="text-decoration:none;">Standings</LinkTo>
</div>