<PlayersList @players-list={{@model}} />
<div class="flex-container">
    <div class="neon-button-green w3-margin-bottom" {{on "click" postCreate}}>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        CREATE
    </div>
</div>