<StandingsList @standings-list={{@model}}></StandingsList>

{{!-- <select>
    <option selected=""></option>
    {{#each @model.items as |trn|}}
        <option onclick={{action "changeRoute" trn.id}}>{{propertyByName trn "name"}}</option>
    {{/each}}
</select> --}}